.memory-boxes {
    padding: 0;
    margin: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.memory-boxes .memory-box {
    /* border: 0.5px solid #aaaaaa; */
    max-width: 80px;
    max-height: 80px;
    
}

/* Have to keep this for performance reasons, sadly */
.memory-box.animate-377632 .uk-background-muted {
    animation: blink-377632 1s 2;
}

@keyframes blink-377632 {
  100% {
    background-color: #377632;
  }
}

.memory-box.animate-BB516D .uk-background-muted {
    animation: blink-BB516D 1s 2;
}

@keyframes blink-BB516D {
  100% {
    background-color: #BB516D;
  }
}

.memory-box.animate-FECD4D .uk-background-muted {
    animation: blink-FECD4D 1s 2;
}

@keyframes blink-FECD4D {
  100% {
    background-color: #FECD4D;
  }
}

.memory-box.animate-313255 .uk-background-muted {
    animation: blink-313255 1s 2;
}

@keyframes blink-313255 {
  100% {
    background-color: #313255;
  }
}

.memory-box.animate-7E2C21 .uk-background-muted {
    animation: blink-7E2C21 1s 2;
}

@keyframes blink-7E2C21 {
  100% {
    background-color: #7E2C21;
  }
}