<div class="uk-flex uk-flex-center uk-flex-middle full-page-cover">
    <div class="uk-card uk-card-default uk-card-body uk-card-large uk-animation-fade">
        <h1>Pair me up</h1>
        <form>
            <input class="uk-input uk-form-large" type="text" placeholder="I'm Textbox. You?" ng-model="vm.name">
            <p uk-margin>
                <button class="uk-button uk-button-danger uk-button-large uk-width-1-1 entry-submit" ng-click="vm.formSubmit()">
                    <span uk-icon="icon: arrow-right; ratio: 2"></span>
                </button>
            </p>
                                        
        </form>
    </div>                
</div>