<div class="uk-flex uk-flex-center uk-flex-middle full-page-cover">
    <div class="uk-card uk-card-default uk-width-large uk-card-body uk-card-medium uk-animation-fade">
        <h1>Pair me up</h1>

        <div class="uk-text-left">
           This is a memory game where you need to match pairs of tiles. We've got a couple of themes to start you with as of now, with three levels of difficulty for each theme.
        </div>
        <p uk-margin>
            <a class="uk-button uk-button-danger uk-button-large uk-width-1-1 entry-submit" ui-sref="options">
                <span uk-icon="icon: arrow-right; ratio: 2"></span>Enough talk, let's play!
            </a>
        </p>


    </div>
</div>